/* Global CSS reset and base styles for TimePong */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fafafa;
}

body {
  min-width: 320px;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
}

h4 {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0;
}
