/* Global CSS reset and base styles for TimePong */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', 'Noto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0;
}
